__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
user_settings.json
community_db.json
user_profiles/
.vscode/
.idea/
*.log

# Build artifacts
build/
dist/
*.exe
*.rar
*.zip
*.spec
*.swf
*.glb
*.mp3
*.ttf
*.woff
*.pyd
*.cpython-313.pyc

# Large model files
model_*/
vosk/
_internal/
*.swf

